<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urremote.bridge"
    android:versionCode="6"
    android:versionName="1.5"
    android:installLocation="internalOnly">

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="com.google.android.apps.mytracks.WRITE_TRACK_DATA"></uses-permission>
	<uses-permission android:name="com.google.android.apps.mytracks.READ_TRACK_DATA"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<!--  permissions for C2DM  -->
	<!-- 
	<permission android:name="com.urremote.bridge.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="com.urremote.bridge.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	 -->
	 
	 <!-- Tasker -->
	 <!--
	<uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS"/>
	  -->
	  
	<application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <activity android:name="Main"
                  android:label="@string/app_name" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service 
        	android:name=".service.LiveMonitorService"
        	android:label="MyTracks Live Monitoring Service"
        	android:exported="false">
       	</service>
        <activity android:name="AccountSettings" android:label="Account Settings" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:label="Activity Settings" android:name="ActivitySettings" android:configChanges="keyboardHidden|orientation"></activity>
        
            <!--
        <activity
            android:name=".SettingsActivity"
            android:label="Settings">
	      <intent-filter>
	        <category android:name="android.intent.category.PREFERENCE" />
	      </intent-filter>
        </activity>
         	-->
        
        <!--  C2DM  -->
		<receiver android:name=".C2dmReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION"></action>
				<category android:name="com.urremote.bridge" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"></action>
				<category android:name="com.urremote.bridge" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"/>
			</intent-filter>			
		</receiver>
		
		<!-- TASKER -->
		<receiver android:name=".InvokationIntentsReceiver">
			<intent-filter>
				<action android:name="com.urremote.bridge.intent.START"></action>
				<category android:name="com.urremote.bridge" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.urremote.bridge.intent.PAUSE"></action>
				<category android:name="com.urremote.bridge" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.urremote.bridge.intent.STOP"></action>
				<category android:name="com.urremote.bridge" />
			</intent-filter>
		</receiver>
		
    </application>

</manifest>